@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #dedede;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family:'Poppins', sans-serif;
    height: 700px;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
header{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
header nav{
    background-color: rgb(244, 238, 238);
    position: fixed;
    width: 100%;
    height: 67px;
    z-index: 999;
    top: 0;
}
header nav .head{
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
header nav h1{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-weight:800;
}   
header nav ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
header nav ul li{
    padding: 3px 15px;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
header nav ul li a:hover{
    color:rgb(218, 20, 20);
    transition: 0.3s linear;
}
header nav i{
    display: none;
}
.glav{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    margin-bottom: 30px;
}
.back{
    transform: translateY(-150%);
    animation: ani 1s forwards;
    color: white;
    display: flex;
    height: 350px;
    width: 55%;
    background-color: #fb5849c4;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.6);
}
.tot_cost {
    transform: translateY(-150%);
    animation: ani 1s forwards;
    text-align: center;
    color: white;
    width: 40%;
    height: 350px;
    background: #fb5849c4;
    border-radius: 10px;
    padding: 1%;
}
#orders{
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    height: 65%;
    overflow: auto;
    flex-direction: column;
}
.tot_cost h1{
    margin-bottom: 3%;
}
.total{
    font-weight: 500;
    font-size: 25px;
    height: 10%;
}
@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
}
.back img{
    justify-content: center;
    width: 40%;
    border-radius: 50%;
    border: 2px solid #fb5849;
}
.nav{
    display: block;
    justify-content: center;
    width: 100%;
    padding: 2% 4% ;
}
div div div h1{
    font-size: 40px;
}
#sum{
    color: red;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
}
.cost{
    margin-top: 3%;
    height: 20%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
 div div h2{
    color: red;
    font-weight: 500;
    font-size: 30px;
}
#cost{
    background-color: rgba(255, 255, 255, 0.68);
    padding: 0 20px;
    border-radius: 5px;
}
#order {
    border-radius: 10px;
    background: black;
}
div div div button{
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 40%;
    height: 100%;
    transition: 0.5s;
}
#order:hover{
    background: rgba(23, 23, 23, 0.94);
}
.cards {
    transform: translateY(-150%);
    animation: ani 1s forwards;
}
.cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    scroll-behavior: smooth;
    transition: 2s linear;
    height: 28%;
    padding: 1% 2% ;
    overflow: auto;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card{
    color: white;
    position: relative;
    min-width: 170px;
    height: 100%;
    margin-right: 1%;
    background: #fb5849c4;
    border-radius: 50px 10px 10px 10px;
}
.st{
    position: relative;
    width: 85px;
    border-radius: 100%;
    height: 85px;
    top: -10px;
    left: -10px;
    transition: 1.5s;
}
.st:hover{
    transform: rotate(360deg);
}
.price{
    right: 40px;
    top: 18px;
    position: absolute;
    font-size: 25px;
    display: inline;
}
.name{
    margin-top: -11px;
    text-align: center;
    display: block;
    font-size: 27px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.opp{
    margin-left: 10px;
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.icons{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-left: 2%;
}
.icons i{
    font-size: 23px;
    cursor: pointer;
}
.icons{
    width: 90%;
    margin: auto;
    padding-left: 2%;
}
.icons i{
    font-size: 23px;
    cursor: pointer;
}
.ww{
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #fb5849;
    margin-top: 100px;
    margin-bottom: 0px;
}

.qw{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social{
    display:flex;
}

.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
}

.social__icon i {
    font-size: 26px;
    color: #fb5849;
    transition: all 0.3s ease;
    z-index: 1;
}

.social__icon:after{
    content: "";
    width: 60px;
    height: 60px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social__icon.instagram:after{
    background-color: #ff58d2;
}
.social__icon.youtube:after{
    background-color: #ff0000;
}
.social__icon.git:after{
    background-color: #333;
}
.social__icon.twitter:after{
    background-color: #00acee;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
}

.social__icon:hover i{
    color: #fff;
}

.social__icon:hover:after{
    transform: translate(0);
}
@media screen and (max-width: 1150px)  {
    header nav{
        height: 130px;
    }
    .glav{
        margin-top: 170px;
    }
    header nav .head{
        display: block;
    }
    header nav ul{
        justify-content: space-around;
        padding: 0;
    }
    .reservation{
        margin-top: 130px;
    }
}

@media screen and (max-width: 900px){
    .back img{
        margin-top: 60px;
        height: 190px;
    }
    .qw {
        flex-wrap: wrap;
        padding: 10px;
    }
    .social__icon {
        width: 55px;
        height: 55px;
    }
}
@media screen and (max-width: 730px){
    header nav{
        height: 67px;
    }
    .nav h1{
        font-size: 35px;
    }
    .nav p{
        font-size: 13px;
    }
    .glav{
        margin-top: 100px;
        flex-wrap: wrap;
        height: auto;
    }
    .tot_cost{
        width: 90%;
        margin: 30px 0;
        height: 300px;
    }
    .back{
        height: 300px;
        width: 90%;
    }
    header nav ul{
        position: absolute;
        width: 150px;
        height: auto;
        flex-direction: column;
        background: aliceblue;
        border-radius: 5px;
        box-shadow: 0px 0px 10px grey;
        justify-content: center;
        top:-1000%;
        right: 15%;
        z-index: 999;
        padding: 10px 20px;
        transition: 0.5s linear;
    }
    header nav .head{
        display: flex;
    }
    header nav i{
        display: unset;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 40px;
    }
    header nav .ul_active{
        top:0;
    }
    header nav ul li{
        padding: 8px 0px;
        text-align: center;
    }
}
@media screen and (max-width: 400px){
    /*.back{*/
    /*    width: 95%;*/
    /*    height: 270px;*/
    /*    font-size: 16px;*/
    /*}*/
    .nav h1{
        font-size: 20px;
    }
    .cost{
        width: 100%;
    }
    .cost h2{
        margin-top: 10px;
        height: 30px;
        font-size: 20px;
        margin-right: 30px;
    }
    .cost #order{
        font-size: 12px;
        width: 65%;
    }
    .back img{
        margin-top: 80px;
        height: 100px;
    }
    .qw {
        flex-wrap: wrap;
        padding: 10px;
    }
    .tot_cost{
        width: 95%;
        height: 270px;
        font-size: 1.8vh;
    }
    .social__icon {
        width: 50px;
        height: 50px;
    }
}
